# Environment & Credentials
.env
.env.local
.env.*.local

# Logs
*.log
error_log
logs/

# Operating System & IDE files
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Temporary and Cache files
*.tmp
*.bak
scratch/
